In [21]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [22]:
dataset = [["a", "b", "c", "d", "e"],
           ["b", "c", "d"], 
           ["a", "b", "f"],
           ["a", "c",  "d", "g"],
           ["a", "b", "c", "d"]]

In [23]:
dataset

[['a', 'b', 'c', 'd', 'e'],
 ['b', 'c', 'd'],
 ['a', 'b', 'f'],
 ['a', 'c', 'd', 'g'],
 ['a', 'b', 'c', 'd']]

In [24]:
te = TransactionEncoder()
te_arr = te.fit(dataset).transform(dataset)

In [25]:
df = pd.DataFrame(te_arr, columns=te.columns_)
df

       a      b      c      d      e      f      g
0   True   True   True   True   True  False  False
1  False   True   True   True  False  False  False
2   True   True  False  False  False   True  False
3   True  False   True   True  False  False   True
4   True   True   True   True  False  False  False

In [33]:
from mlxtend.frequent_patterns import apriori 
frequent_itemsets  = apriori(df, min_support = 0.01, use_colnames = True)
frequent_itemsets

    support         itemsets
0       0.8              (a)
1       0.8              (b)
2       0.8              (c)
3       0.8              (d)
4       0.2              (e)
5       0.2              (f)
6       0.2              (g)
7       0.6           (b, a)
8       0.6           (c, a)
9       0.6           (d, a)
10      0.2           (e, a)
11      0.2           (f, a)
12      0.2           (g, a)
13      0.6           (c, b)
14      0.6           (d, b)
15      0.2           (e, b)
16      0.2           (f, b)
17      0.8           (d, c)
18      0.2           (e, c)
19      0.2           (c, g)
20      0.2           (e, d)
21      0.2           (d, g)
22      0.4        (c, b, a)
23      0.4        (d, b, a)
24      0.2        (e, b, a)
25      0.2        (f, b, a)
26      0.6        (d, c, a)
27      0.2        (e, c, a)
28      0.2        (g, c, a)
29      0.2        (e, d, a)
30      0.2        (g, d, a)
31      0.6        (d, c, b)
32      0.2        (e, c, b)
33      0.2        (e, d, b)
34      0.2        (e, d, c)
35      0.2        (d, c, g)
36      0.4     (d, c, b, a)
37      0.2     (e, c, b, a)
38      0.2     (e, d, b, a)
39      0.2     (e, d, c, a)
40      0.2     (d, g, c, a)
41      0.2     (e, d, c, b)
42      0.2  (e, c, d, b, a)

In [ ]:
#association Rule Mining
from mlxtend.frequent_patterns import association_rules
#frequent itemsets only if the level of confidence is above the 70 percent threshold
res = association_rules(frequent_itemsets, metric = "confidence", min_threshold =0.7)
res

In [30]:
res1 = res[["antecedents", "consequents", "support", "confidence", "lift"]]
res1

  antecedents consequents  support  confidence  lift
0         (d)         (c)      0.8         1.0  1.25
1         (c)         (d)      0.8         1.0  1.25

In [19]:
res2 =res1[res1["confidence"]>= 1]
res2

   antecedents consequents  support  confidence  lift
10         (d)         (c)      0.8         1.0  1.25
11         (c)         (d)      0.8         1.0  1.25
13      (d, a)         (c)      0.6         1.0  1.25
14      (c, a)         (d)      0.6         1.0  1.25
19      (d, b)         (c)      0.6         1.0  1.25
20      (c, b)         (d)      0.6         1.0  1.25